@model IEnumerable<LibHutech_DoAnLapTrinhWeb.Models.Sach>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm Sách", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuongDan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuotXem)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSach)
        </td>
        <td>
            <img src="@Url.Content("~/Uploads/Images/"+item.ImgSach)"
                 alt="Image"
                 width="100"
                 height="100"/>
        </td>
        <td>
            <a href="~/Uploads/StorePDF/@item.DuongDan">@item.DuongDan</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotXem)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaSach }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaSach }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaSach })
        </td>
    </tr>
}

</table>
