
@{
    ViewBag.Title = "Home Page";
    IEnumerable<LibHutech_DoAnLapTrinhWeb.Models.Mon> lsMon = ViewBag.Mon; 
    IEnumerable<LibHutech_DoAnLapTrinhWeb.Models.Sach> lsSach = ViewBag.Sach;
}
    <section>
        <div class="container">
            <div class="text-center">
                <h2 style="color: #0078ae;">HUTECH <span style="color: red;">SEACH</span></h2>
                <h4 style="color: #0078ae;">Tài Liệu Thư Viện HUTECH</h4>
            </div>
            <div class="row">
                <div class="input-group" style="justify-content: center;padding: 30px;">
                    <input type="text" class="from-seach from-control" placeholder="Bạn đang cần tìm?" style="border-radius: 24px;
                    position: relative;width: 390px;height: 44px;">
                    <i class="fa fa-search" aria-hidden="true" style="position: absolute;    font-size: 28px; margin-left: 159px; margin-top: 8px;"></i>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4 Show">
                    <div class="Show-List" style="border-radius: 14px;border: 3px solid #ddd;margin: 12px;">
                        <h4 class="text-center">Danh Mục Sách</h4>
                        @if (lsMon != null) {
                            foreach(var item in lsMon) { 
                    <a href="https://localhost:44385/Home/Viewer/@item.MaMon">
                        <div class="Show-content" style="font-size:18px;padding:5px; background-color:@item.BgColor; color:@item.Color">
                            <div class="row">
                                <div class="col-3"><img src="@Url.Content("~/Uploads/Images/"+item.ImgMon)" alt="" style="width: 100%;height: 100%;"></div>
                                <div class="col-1"><h3>@item.TenMon</h3></div>
                            </div>
                        </div>
                    </a>
                            }
                        }
                       
                    </div>
                </div>

                <div class="col-8" style="padding-top: 17px;border: 3px solid #ddd;border-radius: 15px;margin-top: 11px;">
                    <div class="Show-table" style="border-bottom: 1px solid gray;">
                        @if (lsSach != null)
                        {
                            foreach (var item in lsSach)
                            {

                        <a href="https://localhost:44385/Home/Viewer/@item.MaSach">
                            <div class="row m-4">
                                <div class="col-3"> <img src="@Url.Content("~/Uploads/Images/"+item.ImgSach)" class="Show-image" style="height: 100%; width: 100%;"></div>
                                <div class="col-9 text-dark">
                                    <div class="font-weight-bold"><h4>@item.TenSach</h4></div>
                                    <div class="text-dark">Lượt xem: @item.LuotXem</div>
                                    <div class="text-dark">@item.NoiDung</div>
                                </div>
                            </div>
                        </a>
                                    }}
                                
                            </div>
                    
                </div>
            </div>
        </div>
    </section>
