@model LibHutech_DoAnLapTrinhWeb.Models.Mon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgMon)
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/"+Model.ImgMon)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaMon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
